*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: headingFont;
  src: url(/assets/fonts/TibetBeeAOE.ttf); }
body {
  margin: 0;
  color: #262626;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1,
h2,
h3 {
  font-weight: 600;
  color: #425469;
  font-family: "Muli", sans-serif;
  line-height: 1.5; }

h1 {
  font-family: headingFont;
  color: #7b2525;
  margin: 5px;
  font-size: 3.5em; }
  h1 a,
  h1 a:visited {
    text-decoration: none;
    color: #7b2525; }

h2 {
  font-size: 1.5em; }

a,
a:visited {
  color: #425469;
  text-decoration: underline;
  font-weight: bold; }

a:hover {
  color: #7b2525;
  text-decoration: underline; }

header {
  font-family: headingFont;
  background: #ccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }

main {
  padding: 55px 15px;
  max-width: 800px;
  margin: 0 auto; }

time {
  color: #898989; }

.container {
  max-width: 800px;
  margin: 0 auto; }

#content {
  width: 98%; }

article {
  background-color: #fff;
  background: linear-gradient(to right, white 94%, rgba(255, 255, 255, 0.67) 96%, rgba(255, 255, 255, 0) 100%); }

/* Aside */
aside {
  position: relative;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white;
  box-shadow: 0px 1px 1px RGBA(4, 25, 54, 0.1); }
  aside nav {
    float: left;
    max-width: 800px;
    margin: 0 auto; }
    aside nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      aside nav ul li {
        float: left;
        position: relative; }
        aside nav ul li a {
          text-decoration: none;
          display: block;
          padding: 15px;
          font-family: 'Muli', sans-serif;
          line-height: 20px;
          margin-bottom: -1px;
          box-shadow: 0; }
          aside nav ul li a:hover, aside nav ul li a:active {
            background: #ccc;
            text-decoration: none;
            color: #7b2525; }
    aside nav:after {
      content: '';
      display: table;
      clear: both; }

footer {
  text-align: center;
  padding: 40px; }

table {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: solid;
  color: #000000;
}

th {
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: solid;
  padding: 5px;
}
td {
  border-width: 1px;
  border-color: #D1D1D1;
  border-style: solid;
}

thead {
  background-color: #E3E6E8;
}
 
tr:nth-child(even) {background: #eee}

